{% extends 'index.html' %}
{% block content %}

<title>{% block title %}Add Roles{% endblock %}</title>

<div class="container-fluid">
    <div class="card card-body py-3">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-sm-flex align-items-center justify-space-between">
                    <a class="text-muted text-decoration-none d-flex" href="javascript:void(0);" onclick="window.history.back();" style="margin-right: 10px;">
                        <iconify-icon icon="mdi:arrow-left" class="fs-6"></iconify-icon>
                    </a>
                    <h4 class="mb-4 mb-sm-0 card-title">Add New Role</h4>
                    <nav aria-label="breadcrumb" class="ms-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item d-flex align-items-center">
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">Role</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <div class="{% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Add New Role</h4>
                    <form method="post" action="{% url 'add_role_details' %}">
                        {% csrf_token %}
                        
                        <div class="row">
                            <!-- Role -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="role" class="form-label">Role</label>
                                    <input type="text" class="form-control" id="role" name="role" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- Status Select -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="status_select">Status</label>
                                    <select id="status_select" name="status" class="form-select" aria-label="Default select example" required>
                                        <option value="Active" selected>Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            
                            <!-- Submit Button -->
                             <div class="col-12">
                                <div class="d-md-flex align-items-center">
                                    <div class="ms-auto mt-3 mt-md-0">
                                        <button type="submit" class="btn btn-primary hstack gap-6">
                                            <i class="ti ti-file-upload"></i>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}