{% extends 'index.html' %}
{% block content %}

<title>{% block title %}Roles{% endblock %}</title>

<div class="container-fluid">
    <div class="card card-body py-3">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-sm-flex align-items-center justify-space-between">
                    <h4 class="mb-4 mb-sm-0 card-title">Roles</h4>
                    <nav aria-label="breadcrumb" class="ms-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a class="text-muted text-decoration-none d-flex" href="{% url 'index' %}">
                                    <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon>
                                </a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">Role</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <div class="{% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <form method="post" action="{% url 'edit_role_details' pk=role.pk %}">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="role" class="form-label">Role</label>
                                    <input type="text" class="form-control" id="role" name="role" value="{{ role.role }}" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="status_select">Status</label>
                                    <select id="status_select" name="status" class="form-select" aria-label="Default select example" required>
                                        <option value="{{ role.status }}" selected>{{ role.status }}</option>
                                        <option value="{% if role.status == 'Active' %}Inactive{% else %}Active{% endif %}">
                                            {% if role.status == 'Active' %}Inactive{% else %}Active{% endif %}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">
                                <i class="ti ti-file-upload"></i>
                                Save
                            </button>
                            <a href="{% url 'view_role_details' role.id %}" class="btn bg-danger-subtle text-danger ms-6">
                                Back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
                    