{% extends 'index.html' %}
{% block content %}

<title>{% block title %}Edit Event{% endblock %}</title>

<div class="container-fluid">
    <div class="card card-body py-3">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-sm-flex align-items-center justify-space-between">
                    <h4 class="mb-4 mb-sm-0 card-title">Edit Event</h4>
                    <nav aria-label="breadcrumb" class="ms-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a class="text-muted text-decoration-none d-flex" href="{% url 'index' %}">
                                    <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon>
                                </a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">Event</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    {% if messages %}
        <div class="alert alert-success" role="alert" id="message-alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <script>
            window.onload = function() {
                setTimeout(function() {
                    document.getElementById('message-alert').style.display = 'none';
                }, 3000);
            }
        </script>
    {% endif %}
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'edit_event_details' pk=event.pk %}">
                        {% csrf_token %}

                        <div class="row">
                            <!-- Event Name -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="event_name" class="form-label">Event Name</label>
                                    <input type="text" class="form-control" id="event_name" name="event_name" value="{{ event.event_name }}" required>
                                </div>
                            </div>

                            <!-- Event Type -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="event_type">Event Type</label>
                                    <select id="event_type" name="event_type" class="form-select" required>
                                        <option value="{{ event.event_type.id }}" selected>{{ event.event_type.event_type }}</option>
                                        {% for event_type in event_types %}
                                            <option value="{{ event_type.id }}">{{ event_type.event_type }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Event Date -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="event_date" class="form-label">Event Date</label>
                                    <input type="date" class="form-control" id="event_date" name="event_date" value="{{ event.event_date|date:'Y-m-d' }}" required>
                                </div>
                            </div>

                            <!-- Event Time -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="event_time" class="form-label">Event Time</label>
                                    <input type="time" class="form-control" id="event_time" name="event_time" value="{{ event.event_time|time:'H:i' }}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Parish -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="parish">Parish</label>
                                    <select id="parish" name="parish" class="form-select" required>
                                        <option value="{{ event.parish.id }}" selected>{{ event.parish.parish_name }}</option>
                                        {% for parish in parishes %}
                                            <option value="{{ parish.id }}">{{ parish.parish_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Priest -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="priest">Priest</label>
                                    <select id="priest" name="priest" class="form-select">
                                        <option value="{{ event.priest.id }}" selected>
                                            {% if event.priest %} {{ event.priest.username }} {% else %}Select Priest{% endif %}
                                        </option>
                                        {% for priest in priests %}
                                            <option value="{{ priest.id }}">{{ priest.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Status -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="status">Status</label>
                                    <select id="status" name="status" class="form-select" required>
                                        <option value="{{ event.status }}" selected>{{ event.status }}</option>
                                        {% for choice in EVENT_STATUS_CHOICES %}
                                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Remarks -->
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="remarks" class="form-label">Remarks</label>
                                    <textarea class="form-control" id="remarks" name="remarks" rows="2">{{ event.remarks }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Event Description -->
                            <div class="col-12">
                                <div class="form-group mb-4">
                                    <label for="event_description" class="form-label">Event Description</label>
                                    <textarea class="form-control" id="event_description" name="event_description" rows="4">{{ event.event_description }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">
                                <i class="ti ti-file-upload"></i>
                                Save
                            </button>
                            <a href="{% url 'view_event_details' event.pk %}" class="btn bg-danger-subtle text-danger ms-6">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
