{% extends 'index.html' %}
{% block content %}

<title>{% block title %}User Details{% endblock %}</title>

<div class="container-fluid">
    
    <div class="card w-100 position-relative overflow-hidden">
        <div class="px-4 py-3 border-bottom d-flex align-items-center">
            <a class="text-muted text-decoration-none d-flex" href="javascript:void(0);" onclick="window.history.back();" style="margin-right: 10px;">
                <iconify-icon icon="mdi:arrow-left" class="fs-6"></iconify-icon>
            </a>
            <h4 class="card-title mb-0 me-auto">Users</h4>
            <a href="{% url 'add_user_details' %}" class="btn btn-primary d-flex align-items-center">
                <iconify-icon icon="mdi:plus" class="me-2"></iconify-icon> Add
            </a>
        </div>
    </div>

        
        <div class="card-body p-4">
            <div class="table-responsive mb-4 border rounded-1">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="table-primary">
                        <tr>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0">Username</h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0">Parish</h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0">Role</h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0">Email</h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0">Status</h6>
                            </th>
                            <th>
                                <h6 class="fs-4 fw-semibold mb-0">Actions</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <h6 class="fs-4 fw-semibold mb-0">{{ user.username }}</h6>
                                </td>
                                <td>
                                    <p class="mb-0 fw-normal fs-4">
                                        {{ user.parish }}
                                    </p>
                                </td>
                                <td>
                                    <p class="mb-0 fw-normal fs-4">
                                        {{ user.role }}
                                    </p>
                                </td>
                                <td>
                                    <p class="mb-0 fw-normal fs-4">
                                        {{ user.email }}
                                    </p>
                                </td>
                                <td>
                                    {% if user.status == 'Active' %}
                                        <span class="badge bg-success-subtle text-success"> {{ user.status }}</span>
                                    {% elif user.status == 'Inactive' %}
                                        <span class="badge bg-danger-subtle text-danger"> {{ user.status }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'view_user_details' user.id %}" class="btn btn-primary btn-sm">View More</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}