{% extends 'index.html' %}
{% block content %}

<title>{% block title %}Settings{% endblock %}</title>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3" style="font-weight: 700; color: #000;">Settings</h4>
            <ol class="list-group">
                <a class="list-group-item d-flex justify-content-between align-items-center m-0 hoverable-link" href="{% url 'list_parishes' %}" style="height: 60px;">
                    <div class="d-flex align-items-center">
                        <iconify-icon icon="mdi:church" style="font-size: 24px; margin-right: 10px; color: #28282d;"></iconify-icon>
                        <div class="fw-bold" style="font-weight: 700; color: #28282d;">Parishes</div>
                    </div>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center m-0 hoverable-link" href="{% url 'list_roles' %}" style="height: 60px;">
                    <div class="d-flex align-items-center">
                        <iconify-icon icon="mdi:account-tie" style="font-size: 24px; margin-right: 10px; color: #28282d;"></iconify-icon>
                        <div class="fw-bold" style="font-weight: 700; color: #28282d;">Roles</div>
                    </div>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center m-0 hoverable-link" href="{% url 'list_users' %}" style="height: 60px;">
                    <div class="d-flex align-items-center">
                        <iconify-icon icon="mdi:accounts" style="font-size: 24px; margin-right: 10px; color: #28282d;"></iconify-icon>
                        <div class="fw-bold" style="font-weight: 700; color: #28282d;">Users</div>
                    </div>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center m-0 hoverable-link" href="{% url 'list_event_types' %}" style="height: 60px;">
                    <div class="d-flex align-items-center">
                        <iconify-icon icon="mdi:calendar-multiple" style="font-size: 24px; margin-right: 10px; color: #28282d;"></iconify-icon>
                        <div class="fw-bold" style="font-weight: 700; color: #28282d;">Event Types</div>
                    </div>
                </a>
            </ol>
        </div>
    </div>
</div>

<script>
    // Add hover effects
    const hoverableLinks = document.querySelectorAll('.hoverable-link');

    hoverableLinks.forEach(link => {
        link.addEventListener('mouseover', () => {
            link.classList.add('active');
        });

        link.addEventListener('mouseout', () => {
            link.classList.remove('active');
        });
    });
</script>

{% endblock %}
